@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';


  // variables



  $ylwBtn:#ffcb07;


  //

  body {
    border: 0;
    margin: 0;
    width: 100vw;
    background-color: white;
  }

  .container {
    width: 100vw;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: none;
    flex-direction: column;
  }

  .nav {
    display: flex;
    height: 196.52px;
    width: 100vw;
    background-color: white;
    // align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    width: 140px;
    align-self: center;
  }

  .nav-btn {
    margin: 15px 30px;
    background-color: white;
    letter-spacing: 1px;
    font-weight: 600;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-self: center;;
  }

  button {
    margin: 0;
    padding: 15px;
    font-family: arial;
    letter-spacing: .5px;
    font: {
      size: 12px;
      weight: bold;
    }
  }

  .hero {
    display: flex;
    width: 100vw;
    height: 49.47vw;
    background-image: url("../img/wide-bknd.jpg");
    background-size: 100vw auto;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }

  .hero-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ourspaces,
  .letstalk,
  .ourproducts {
    width: 30vw;
    height: 30vw;
    margin-bottom: 5em;
  }
  .product {
    width: 30vw;
    height: 30vw;
  }

  .articles {
    display: flex;
    width: 30vw;
    height: auto;
    flex-direction: column;
    margin-bottom: 2.5em;
    h1 {
    margin: 5px auto;
    font-size: 16px;
    font-weight: normal;
    }
    p {
    margin: 0 auto;
    color: grey;
    letter-spacing: .1em;
    font-size: 14px;
    font-weight: lighter;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
    margin: 0 auto;
    color: grey;
    font-size: 22px;
    text-align: center;
    padding-bottom: 2.5em;
    }

  }

  #coffee-designs {
    width: 550px;
    height: 312.56px;
    margin-bottom: -2em;
  }

  .sub-footer {
    display: flex;
    margin-top: 90px;
    margin-bottom: 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #sub-foot {
    width: 167px;
    height: 83.5px;
    align-self: center;
  }

  .shop {
    margin: 15px 30px;
    color: white;
    background-color: #333333;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-self: center;;
  }

  @media screen and (max-width:$tabScreen) and (min-width:$phoneScreen) {



  }

  @media screen and (max-width:$phoneScreen) {


  }
